html {
    /* font-family: sans-serif; */
    /* font-style: normal; */
    background-color: rgb(183, 129, 183);
    color: rgb(36, 36, 211);
}

li {
    font-family: monospace;
}

p {
    color: rgb(42, 42, 152)
}
    .bold {
        font-weight:bold
    }

    